#%RAML 0.8
title: Wilyfog API
version: v1
baseUri: https://api.willyfog.com/{version}
mediaType: application/json
securitySchemes:
  - oauth2:
      description: |
          Spotify supports OAuth 2.0 for authenticating all API requests.
      type: OAuth 2.0
      describedBy:
        headers:
          Authorization:
            description: |
              Used to send a valid OAuth 2 access token.
            type: string
            example: Bearer 6dc677ee49a580ec66d04c92def6e67d1948928e
        responses:
          401:
            description: |
              Bad or expired token. This can happen if the access token has expired
              os is not valid. You should re-authenticate the user
      settings:
        authorizationUri: https://openid.willyfog.com/authorize
        accessTokenUri: https://openid.willyfog.com/token
        authorizationGrants: [ code, token ]
/users:
    securedBy:
      - oauth2
    /{userId}:
        get:
            description: Retrieves user basic data.
            responses:
              200:
                body:
                  example: !include examples/get-users-id.json
        /requests:
          get:
            description: Retrieves requests created. Takes into account the different roles of the user.
            responses:
              200:
                body:
                  example: !include examples/get-users-id-requests.json
        /info:
          get:
            description: Retrieves extra info.
            responses:
              200:
                body:
                  example: !include examples/get-users-id-info.json
        /notifications:
          get:
            description: Retrieves notifications not read yet.
            responses:
              200:
                body:
                  example: !include examples/get-users-id-notifications.json
